



<div class="page">
  <div class="cart">
    <div class="tain">
      <div class="menu">
        <i class="fas fa-bars"></i>
      </div>
      <div class="content">
        <div class="text">
          <h1>Let's discover <br>the world.</h1>
          <p>Travel lets you explore new places. <br>Simply choose where you want to go.</p>
           <%= link_to "À Bientôt", root_path, class:"menu__item" %>
        </div>
      </div>
    </div>
    <div class="photocontact"></div>
  </div>
</div>
