.banner {
  margin-top: 30px;
  padding: 50px;
  border-radius: 5px;
  background: #FDFDF6;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  align-items: center;
  justify-content: center;

}



h2 {
  margin-top: 10px;
  margin-left: 90px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  color: #4A5376;
}

p {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 51px;
  font-family: Georgia, serif;
  font-weight: bold;
  color: grey ;
  max-width: 405px;
  height: 51px;
}

.img-circle {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.btn-light {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
    width: 200px;
    color: #4A5376;
     box-shadow: 0px 0px 4px rgba(74, 83, 118, .4);

  }

  .ban {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(can.jpg);
  background-size: cover;
  background-position: center;
  padding: 369px 0;
}


.ban h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.ban p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-primary{
    background-color: #09BD99;
    border: transparent;
    justify-content: flex-start;
    margin-left: 420px;
    margin-bottom: 160px;
    width: 250px;
  }

.btn-primary:hover{
      background-color: #4A5376;
opacity: 0.7;
 }

 h6{
color:#191A19;
font-family: "Gill Sans", sans-serif;
font-weight:520 ;
text-align: center;
 }
