.banner {
  background-size: 50px;
  background-position: center;
  margin: 50px 50px 20px;
  position: relative;
  background-size: 250%;
  background-repeat: no-repeat;
  background: linear-gradient(#6998AB, #B1D0E0);
  box-shadow: 7px 9px 1px 1px rgba(21, 21, 31, 0.04);
  border-radius: 20px;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  margin: 90px 321px 46px;
  display: -webkit-inline-box;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 188px;
}

.cont {
  display: inline;
}

.banner a {
    margin-left: 355px;
    color: grey;
}
