
.banner {
  margin-top: -20px;
  padding: 50px;
  border-radius: 5px;
  height: 50%;
  background: transparent;
  border: white;
  display: flex;
  align-items: center;
  justify-content: center;

}



.img-circle {
    margin-top: -30px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.btn-light {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
    width: 200px;
    color: #4A5376;
    border: transparent;
    box-shadow: 0px 5px 41px rgba(255, 255, 255, 1.5);
    font-family: 'Rokkitt', serif;


  }

  .btn-light:hover{
        color: white;
        background-color: #4A5376;
        opacity: 0.6;
        border: transparent;
  }

  .ban {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(can.jpg);
  background-size: cover;
  background-position: center;
  padding: 370px 0;

}


.ban h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.ban p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.discover{
text-align: center;
}

.btn-primary{
    background-color: #09BD99;
    border: transparent;
    width: 250px;
  }

.btn-primary:hover{
    background-color: #4A5376;
    opacity: 0.7;
 }
 :root {
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.50rem);
  --step-1: clamp(1.75rem, 1.73rem + 0.10vw, 1.80rem);
  --step-2: clamp(2.33rem, 2.40rem + -0.34vw, 2.16rem);
  --step-3: clamp(3.11rem, 3.31rem + -1.01vw, 2.59rem);
  --step-4: clamp(4.14rem, 4.55rem + -2.02vw, 3.11rem);
  --step-5: clamp(5.52rem, 6.22rem + -3.50vw, 3.73rem);
  --step-6: clamp(7.36rem, 8.49rem + -5.63vw, 4.48rem);
}

 h6{
color:#191A19;
font-weight:50 ;
text-align: center;
margin: 5px;
font-family: 'Architects Daughter', cursive;
font-size: 1.1rem;
font-weight:bolder ;
margin-bottom: 3%;
}
@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}


h5{
  margin-top:5%;
    font-family: 'Monoton', cursive;

}

h2 {
  margin-top: 10px;
  margin-left: 90px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  color: white;
}

p {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 140px;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: var(--step-0);
  color: white ;
  max-width: 405px;
  height: 51px;
}

h4{
  font-family: 'Monoton', cursive;
  font-size: var(--step-1);
}
