.card-white {
  margin-top: 30px;
  padding: 50px;
  border-radius: 5px;
  background: #FDFDF6;
  box-shadow: 2px 2px 2px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 45%;
  background-repeat: no-repeat;
  background-position:right;
  background-image: url(pic.jpeg);

}

.photo{
margin-right: 460px;
}

h2 {
  margin-top: 10px;
  margin-left: 90px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  color: #4A5376;
}

p {
  align-items: justify;
  text-align: justify;
  margin-top: 51px;
  margin-bottom: 51px;
  font-family: 'arial', sans-serif;
  font-weight: bold;
  color: grey ;
  max-width: 405px;
  height: 51px;
}

.img-circle {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

.btn-light {
    margin-top: 30px;
    margin: 0 auto;
    display: block;
    width: 200px;
    color: #4A5376;
  }
