.main-cont{
  padding:7%;
  flex:1 1 80%
  min-height 100vh;
  height: 98vh;
  margin-top: -15px;

}

.portfolio{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 20px;


}

.portfolio-item {
  background:lightgray;
  color: white;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &.small{
    grid-row: span 2;
    grid-row: span 2;
  }

  &.medium{
    grid-row: span 3;
    grid-column: span 2;
  }

  &.large{
  grid-row: span 4;
  grid-column: span 3;
  }

  &.tall{
    grid-row: span 4;
    grid-column: span 2;
  }

  &.wide{
    grid-row: span 2;
    grid-column: span 3;
  }
}
 .one{
   background-image: url(https://media.istockphoto.com/photos/white-chat-bubble-with-email-symbol-on-blue-background-picture-id1289803387?b=1&k=20&m=1289803387&s=170667a&w=0&h=lKi9qoeNyW8JuzpSwOmafk2Hb7AXGm-NMIP2NTY8sl4=);
   background-position: center;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;


   &::before {
     content:'';
     display: block;
background-image: linear-gradient(229deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(239deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(141deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(287deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(90deg, rgb(53, 166, 233),rgb(17, 240, 126));
     position: absolute;
     opacity: 0.9;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }
 }

  .bouton{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0;
    text-decoration: none;
    color: transparent;
    border-radius: 50px;
    align-items: top;
    justify-content: center;
    display: flex;
  }


 .two{
   background-image: url(https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
   background-position: top;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;

   &::before {
     content:'';
     display: block;
     background-image: linear-gradient(472deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(482deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(384deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(530deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(333deg, rgb(53, 166, 233),rgb(17, 240, 126));
     position: absolute;
     top: 0;
     opacity: 0.9;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }
 }

  .three{
   background-image: url(https://media.istockphoto.com/photos/find-your-way-location-marking-with-a-pin-on-a-map-with-routes-picture-id1287428874?b=1&k=20&m=1287428874&s=170667a&w=0&h=4DnjfrI0rOT-sR7PZfPrxQpO4MZXxqJfJpDH7_UuWmM=);
   background-position: top;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;

   &::before {
     content:'';
     display: block;
background-image: linear-gradient(574deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(584deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(486deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(632deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(435deg, rgb(53, 166, 233),rgb(17, 240, 126));     opacity: 0.6;
     position: absolute;
     opacity: 0.9;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }

 }
  .four{
   background-image: url(https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80);
   background-position: top;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;

   &::before {
     content:'';
     display: block;
background-image: linear-gradient(229deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(239deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(141deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(287deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(90deg, rgb(53, 166, 233),rgb(17, 240, 126));
 opacity: 0.9;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }

 }
  .five{
   background-image: url(https://images.unsplash.com/photo-1573867639040-6dd25fa5f597?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
   background-position: top;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;

   &::before {
     content:'';
     display: block;
background-image: linear-gradient(339deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(349deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(251deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(397deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(200deg, rgb(53, 166, 233),rgb(17, 240, 126));     opacity: 0.6;
     position: absolute;
          opacity: 0.9;

     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }

 }
  .six{
   background-image: url(https://images.unsplash.com/photo-1616469829581-73993eb86b02?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
   background-position: top;
   background-size: cover;
   transition: all ease-in-out 300ms;
   position: relative;
   z-index: 10;

   &::before {
     content:'';
     display: block;
background-image: linear-gradient(472deg, rgba(248, 248, 248, 0.04) 0%, rgba(248, 248, 248, 0.04) 54%,rgba(112, 112, 112, 0.04) 54%, rgba(112, 112, 112, 0.04) 100%),linear-gradient(482deg, rgba(252, 252, 252, 0.04) 0%, rgba(252, 252, 252, 0.04) 66%,rgba(111, 111, 111, 0.04) 66%, rgba(111, 111, 111, 0.04) 100%),linear-gradient(384deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 44%,rgba(168, 168, 168, 0.04) 44%, rgba(168, 168, 168, 0.04) 100%),linear-gradient(530deg, rgba(40, 40, 40, 0.04) 0%, rgba(40, 40, 40, 0.04) 78%,rgba(141, 141, 141, 0.04) 78%, rgba(141, 141, 141, 0.04) 100%),linear-gradient(333deg, rgb(53, 166, 233),rgb(17, 240, 126));     opacity: 0.6;
     position: absolute;
          opacity: 0.9;

     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     transition: all ease-in-out 300ms;
     z-index: -1;
    }

   &:hover::before{
     opacity: 0.2;

   }
 }
