@import "bootstrap/scss/bootstrap";
@import "img-circle";
@import "banner";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Gluten:wght@200&family=Roboto:wght@300&display=swap');
@import "but";
@import "code-editor";
@import "contact";
@import "navb";
@import "cart";


body {
background: linear-gradient(#0AC095, #009DB9, #1572AE, #99B0A7);
}

html {
  height: 267vh;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth !important;

}
