@import "bootstrap/scss/bootstrap";
@import "img-circle";
@import "banner";
@import "footer";
@import "but";
@import "code-editor";
@import "contact";
@import "navb";
@import "cart";
@import "hidden";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Gluten:wght@200&family=Palanquin+Dark:wght@400;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&family=Gluten:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');





html {
  font-family: 'Nunito Sans', sans-serif;
  scroll-behavior: smooth !important;

}

body {
background: linear-gradient(#0AC095, #009DB9, #1572AE, #99B0A7);
background-repeat: no-repeat;
  font-family: 'segoe ui';

}
